body {
  background: #000000;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: rgb(0, 255, 0);
}

ol,
ul {
  padding-left: 10px;
}

.resetbutton {
  width: 78px;
  transform: translateY(300px);
}

.board {
  transform: translate(120px);
  right: 10px;
  padding: 100px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  display: block;
  text-align: center;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #9999;
  border: 1px solid #999;
  float: left;
  font-size: 0px;
  font-weight: bold;
  line-height: 10px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  color: rgb(0, 255, 0);
  height: 25px;
  width: 25px;
}

.super-board-row {
  display: inline-table;
}

.square:focus {
  outline: rgb(90, 108, 143)
}

.square-wall {

  background:rgba(113, 63, 221, 0.719);
}

.square-start{

  background: rgb(208, 255, 0);
}


.square-end{

  background: rgb(180, 63, 48);
}


.square-visited{

  background: rgb(9, 255, 0);
}

.square-unvisited{

  background: rgba(197, 111, 246, 0.911);
}


.square-path{

  background: rgb(52, 186, 248);
}


.kbd-navigation .square:focus {
  background: #0000;
}


.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 10px;
}